<%- include("./partials/header") %>

<div class="container">
    <% if(products) { %>
        <h1 style="text-align: center;">Cart Products</h1>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-30">
                <ul class="list-group">
                    <% products.forEach((product) => { %>
                        <li class="list-group-item">
                            <strong><%= product.item.name %></strong>
                            <span> | <%= product.qty %></span>
                            <span class="label label-success" style="float: right;">Rs.<%= product.price %></span>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="reduce" href="/reduce/<%= product.item._id %>">Reduce by 1</a></li>
                                    <li><a class="dropdown-item" id="remove" href="/remove/<%= product.item._id %>">Remove All</a></li>
                                </ul>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-left: 610px;">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <strong>Total: Rs.<%= totalPrice %></strong>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <a href="/checkout" class="btn btn-success" type="button">CheckOut</button></a>
            </div>
        </div>
    <% } else { %>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <h2>No Items in the Cart</h2>
            </div>
        </div>
    <% } %>
</div>

<%- include("./partials/footer") %>

