<%- include("./partials/header") %>

<div class="container">
    <% if(!noMessage) { %>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                <div id="success" class="alert alert-success">
                    <%= successMsg %>
                </div>
            </div>
        </div>
 <% } %> 
</div>

<div class="menu-container">
    <% products.forEach((product) => { %>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <% product.forEach((item) => { %>
                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="thumbnail">
                            <img src="<%= item.image %>">
                            <div class="caption">
                                <center><h3><%= item.name %></h3></center>
                                <h4>Rs.<%= item.price%></h4>
                                <a href="/add-to-cart/<%= item._id %>" class="btn btn-success cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
<% }) %>
</div>

<script>
    let cart = document.querySelector('.cart');
    cart.addEventListener('click' , () => alert('added to the cart'));
</script>



<%- include("./partials/footer") %>
